:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
main {
  padding-right: 12rem;
}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#textUser {
  grid-column: 1/2;
  grid-row: 1/2;  
}

#textResponse {
  grid-column: 3/4;
  grid-row: 1/2;
  width: 42rem;
  min-height: 12rem; 
  display: flex;
  justify-content: space-between;
  background-color: #1a1a1a;
  cursor: pointer;
  padding-left: 1rem;
  border-radius: 6px;
}

  img {
    width: 32rem;
    margin-right: 0.5rem;
  }

textarea {
  font-size: large;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  color-scheme: light dark;
  width: 42rem;
  height: 12rem;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 12rem;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;
}

.PopoverTrigger {
  border-radius: 6px;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PopoverContent {
  border-radius: 4px;
  padding: 1rem;
  width: 6rem;
  background-color: #767676;
  font-size: smaller;
  font-weight: 500;
}

.PopoverArrow {
  fill: #767676;
}

@media only screen and (max-width: 600px) {
  main {
    display: block;
    padding-right: 2rem;
    margin-left: -11rem;
  }
  .logo {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    padding-bottom: 2rem;
  }
  img {
    width: 18rem;
    display: flex;
    justify-content: center;
  }
  h3 {
    font-size: 1rem;
    padding-bottom: 2rem;
  }
  .content {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    width: 22rem;
    display: flex;
    flex-direction: column;
  }
  
  #textUser {
    grid-column: 1;
    grid-row: 1;
    width: 22rem;
  }
  
  #textResponse {
    grid-column: 1;
    grid-row: 2;
    min-height: 8rem;
    max-height: 20rem;
    max-width: 22rem;
    overflow: scroll;
    margin-left: 1rem;
    
  }
  
  textarea {
    width: 22rem;
    height: 8rem;
    
  }
  
  button {
    width: 12rem;
  }
}